<div id="particles-js">
  <div class="header">
      <div class="profile-picture">
       <img alt="profile_pic" style="width: 50%;" src="{{ "\assets\img\profile_picture.png" | prepend: site.baseurl }}" />
      </div>
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto: {{site.email}}"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My X (Twitter)" target="_blank" href="https://x.com/{{site.twitter_username}}"><i class="icon fa fa-x" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/nikhil.thakur97"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://linkedin.com/in/nikhilthakur97/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
       
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
        <a class="link" href="#resume" data-scroll>Resume</a>
        <a class="link" href="#hobby" data-scroll>Hobby</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
