<div class="user-details">
    <h1>Featured Projects</h1>
</div>

<div class="user-projects">
    <div class="images-left">
        <img alt="Sign Language Detection" src="assets/img/quote.png"/>
    </div>
    <div class="contents-right">
        <h3>Real-time Sign Language Detection System</h3>
        <ul>
            <li>Computer Vision, Machine Learning</li>
        </ul>
        <p>Developed a real-time sign language detection system using OpenCV 2 and machine learning algorithms to classify and interpret sign language gestures with improved accuracy. This project aids communication for the hearing impaired by translating gestures into text, providing a real-time assistive solution.</p>
        <a class="project-link" href="https://github.com/nikhilthakur97/sign-language-detection">Check it out</a>
    </div>
</div>

<div class="user-projects">
    <div class="images-right">
        <img alt="Pong AI Bot" src="assets/img/skate.png"/>
    </div>
    <div class="contents">
        <h3>AI-Powered Pong Game Bot</h3>
        <ul>
            <li>Reinforcement Learning, Neural Networks</li>
        </ul>
        <p>Trained a Neural Network to play Pong using reinforcement learning techniques and OpenAI Gym for better decision-making and improved gameplay performance. The model learns from past game outcomes and adapts its strategy, making it capable of competing at a high level in the game environment.</p>
        <a class="project-link" href="https://github.com/nikhilthakur97/pong-ai-bot">Check it out</a>
    </div>
</div>

<div class="user-projects">
    <div class="images-left">
        <img alt="Flutter & Dart Projects" src="assets/img/nn.png"/>
    </div>
    <div class="contents-right">
        <h3>Flutter & Dart Projects</h3>
        <ul>
            <li>Mobile Development, UI/UX</li>
        </ul>
        <p>Developed various mobile applications, including a Battleships game, Flash Cards, Yahtzee Gaming App, Profile Page Application, and Queueing Simulator, focusing on interactive and engaging user experiences. These projects integrate RESTful APIs, local storage, and intuitive UI/UX designs to enhance usability and performance.</p>
        <a class="project-link" href="https://github.com/nikhilthakur97/flutter-dart-projects">Check it out</a>
    </div>
</div>