<div class="user-details">
    <h1>Featured Projects</h1>
</div>

<div class="user-projects">
    <div class="images-left">
        <img alt="TransLingo" src="assets/img/img.png"/>
    </div>
    <div class="contents-right">
        <h3>
            Vision Assistance Technology for the Visually Impaired</h3>
        <ul>
            <li>NLP, PyTorch, Computer Vision</li>
        </ul>
        <p>I am developing a computer vision-based project utilizing Apple’s models designed for Apple Silicon chips
            such as DETR Resnet50 Semantic Segmentation and Depth Anything V2. This project aims to assist
            vision-impaired individuals by providing real-time information about their surroundings, helping them
            navigate and interact with their environment more effectively.</p>
<!--        <a class="project-link" href="https://github.com/helloitsdaksh/TransLingo">Check it out</a>-->
    </div>
</div>
<div class="user-projects">
    <div class="images-right">
        <img alt="TransLingo" src="assets/img/app.jpeg"/>
    </div>
    <div class="contents">
        <h3>TransLingo: Neural Machine Translation with Seq2Seq</h3>
        <ul>
            <li>NLP, PyTorch, Encoder-Decoder</li>
        </ul>
        <p>TransLingo is a neural machine translation project leveraging sequence-to-sequence (Seq2Seq) models with
            attention mechanisms to translate text from one language to another. Utilizing PyTorch for scalable and
            efficient training, the project aims to provide accurate translations for language pairs such as German to
            English.</p>
        <a class="project-link" href="https://github.com/helloitsdaksh/TransLingo">Check it out</a>
    </div>
</div>

<div class="user-projects">
    <div class="images-left">
        <img alt="Cancer Detection in BoneMets" src="assets/img/keck.png"/>
    </div>
    <div class="contents-right">
        <h3>Cancer Detection in BoneMets using Deep Learning Technologies</h3>
        <ul>
            <li>Deep Learning, Medical Imaging</li>
        </ul>
        <p>Redesigned a deep learning model for detecting bone metastases (BoneMets) in cancer patients using
            convolutional neural networks (CNNs). Analyzed medical imaging data to enhance cancer diagnosis and
            treatment.</p>
        <!-- <a class="project-link" href="#">Check it out</a> -->
    </div>
</div>

<div class="user-projects">
    <div class="images-right">
        <img alt="Restaurant Recommendation System" src="assets/img/quote.jpg"/>
    </div>
    <div class="contents">
        <h3>Restaurant Recommendation System</h3>
        <ul>
            <li>Machine Learning, Big Data</li>
        </ul>
        <p>Extracted and cleaned data from Yelp, then utilized a distributed storage system for data mining and
            recommendation. Secured 3rd position among 200 students in a class leaderboard by developing a
            recommendation system utilizing Spark, Python, Hadoop, SQL,
            and Java. Achieved an RMSE of 97.42, demonstrating exceptional accuracy and performance. Notably enhanced
            user experience and engagement, resulting in improved customer satisfaction and retention.</p>
        <!-- <a class="project-link" href="#">Check it out</a> -->
    </div>
</div>

<div class="user-projects">
    <div class="images-left">
        <img alt="Predicting Agricultural Yield" src="assets/img/nn.jpg"/>
    </div>
    <div class="contents-right">
        <h3>Predicting Agricultural Yield by Integrating Remote Sensing Data and Machine Learning Technology</h3>
        <ul>
            <li>Deep Learning, Neural Networks, Remote Sensing</li>
        </ul>
        <p>Developed a machine learning model for predicting crop yield in Punjab using 17 years of weather, soil, and
            NDVI data. Employed statistical methods, machine learning algorithms, and real-world validation
            techniques.</p>
        <a class="project-link" href="https://doi.org/10.1007/978-981-99-1726-6_6">Check it out</a>
    </div>
</div>
