<div class="user-details">
    <h1>Resume</h1>
</div>
<div id="summary">
    <h3>Summary</h3>
    <strong>Passionate Data Science enthusiast</strong> with a proven track record in machine learning, deep learning,
    and data analysis. Experienced in developing innovative solutions to complex problems across multiple domains.
    Seeking opportunities to leverage expertise in impactful projects within a dynamic environment.
</div>

<div id="education">
    <h3>Education</h3>
    <p>
        <strong style="display: flex; justify-content: space-between">University of Southern California<span>Los Angeles, CA</span></strong>
        <strong style="display: flex; justify-content: space-between">Master of Science in Applied Data Science, GPA:
            3.71/4.0 <span>Aug 2023-Present</span></strong>
        <strong>Relevant Coursework:</strong> Data Analysis, Data Visualization, Modeling, Debugging, Probability,
        Statistics, Statistical Testing, Deep Learning, Fine-tuning.
    </p>
    <p>
        <strong style="display: flex; justify-content: space-between">SRM Institute of Science and Technology<span>Chennai, India</span></strong>
        <strong style="display: flex; justify-content: space-between">Bachelor of Technology in Computer Science, GPA:
            4.0/4.0 <span></span></strong>
        <strong>Relevant Coursework:</strong> Data Mining and Analysis, Artificial Intelligence, Advanced Programming
        Practice.
    </p>
</div>

<div id="work-experience">
    <h3>Work Experience</h3>
    <p>
        <strong style="display: flex; justify-content: space-between">Northern Lights Post Inc.<span>New York, NY</span></strong>
        <strong style="display: flex; justify-content: space-between">Machine Learning/Data Engineer Intern<span>Oct 2024-Present</span></strong>
    <ul>
        <li>Led metadata analysis on 9M+ images and 10M+ videos, developing automated pipelines to extract and classify
            content attributes,
            enabling efficient content discovery
        </li>
        <li>Engineered computer vision models for content analysis, leveraging metadata insights to improve feature
            selection and model
            performance across image and video processing modules
        </li>
        <li>Implemented data analysis pipeline identifying key trends for feature selection, improving model performance
            across two processing
            modules
        </li>
    </ul>
    </p>
    <p>
        <strong style="display: flex; justify-content: space-between">University of Southern California <span>Los Angeles, CA</span></strong>
        <strong style="display: flex; justify-content: space-between">Teaching Assistant (Course Producer) <span>Jan 2024-Present</span></strong>
    <ul>
        <li>Earned the Teaching Assistant role by ranking among the Top 5 students in DSCI 552 Machine Learning for Data
            Science.
        </li>
        <li>Provided personalized guidance and clarification to students, ensuring their success in completing Data
            Science tasks effectively
        </li>
        <li>Offered assistance and clarification to 750+ students, ensuring their comprehension and success in
            completing
            Data Science tasks
        </li>
    </ul>
    </p>
    <p>
        <strong style="display: flex; justify-content: space-between">Keck School of Medicine, USC
            <span>Los Angeles, CA</span></strong>
        <strong style="display: flex; justify-content: space-between">Research Assistant
            <span>Nov 2023-Present</span></strong>
    <ul>
        <li>Led research endeavors aimed at enhancing medical image classification algorithms, resulting in heightened
            diagnostic precision. Utilized
            quantization techniques to decrease model parameters and enhance computational efficiency by 15%.
        </li>
        <li>Implemented a novel data preprocessing approach to mitigate data imbalance and enhance model robustness,
            leading to superior classification
            performance and a boosted weighted accuracy of 10%
        </li>
        <li>Applied cutting-edge deep learning methodologies to optimize feature extraction and classification
            processes, thereby improving interpretability
            and efficiency of medical imaging systems.
        </li>
    </ul>
    </p>
    <p>
        <strong style="display: flex; justify-content: space-between">Kintsugi Global Inc. <span>Los Angeles, CA</span></strong>
        <strong style="display: flex; justify-content: space-between">NLP Researcher/AI
            Engineer<span>May 2024-September 2024</span></strong>
    <ul>
        <li>Custom-trained large language models (LLMs) using PyTorch to develop a chatbot that provides information
            about anime characters and stories, enhancing user engagement by enabling interactive queries related to
            anime
        </li>
        <li>Integrated voice generation models to create anime-based voices, enhancing user experience with voice
            interactions
        </li>
        <li>Addressed the challenges in optimizing the speed of text-to-speech conversion, ensuring seamless and
            efficient interaction
            between the chatbot and the anime avatar
        </li>
    </ul>
    </p>
    <p>
        <strong style="display: flex; justify-content: space-between">Siksti Technologies <span>Bengaluru, India</span></strong>
        <strong style="display: flex; justify-content: space-between">Machine Learning
            Engineer<span>Jan 2023-Sept 2023</span></strong>
    <ul>
        <li>Leveraged Machine Learning techniques to identify sales trends, enabling data-driven decision-making and
            contributing to a 10% increase in revenue
        </li>
        <li>Engineered and implemented innovative backend solutions using Django and PostgreSQL, resulting in an 80%
            enhancement in efficiency for
            catalog and inventory upload processes
        </li>
        <li>Boosted API response time by 66% through the application of performance optimization techniques,
            significantly improving user experience
        </li>
    </ul>
    </p>
    <p>
        <strong style="display: flex; justify-content: space-between">Infigon Futures<span>Mumbai, India</span></strong>
        <strong style="display: flex; justify-content: space-between">Data Scientist
            <span>Jun 2022-Nov 2022</span></strong>
    <ul>
        <li>Managed and Analyzed the workflow of the Python Developer Team on the Projects and led 3 different teams of
            new interns
        </li>
        <li>Implemented my very own Resume-Parser Module using NLP, Data-extracting, and College recommendation
            system
        </li>
        <li>Analyzed and optimized workflows, enhancing project delivery and team efficiency</li>
    </ul>
    <strong style="display: flex; justify-content: space-between">Python
        Developer<span>Apr 2022-May 2022</span></strong>
    <ul>
        <li>Worked on College Prediction Module, Scraped data for the same of more than 200+ colleges</li>
        <li>Created A Welcome Email Module for new users and a WhatsApp Automator for automating messages</li>
        <li>Developed and tested APIs using Flask and Postman, ensuring smooth app functionality</li>
    </ul>
    </p>
    <p>
        <strong style="display: flex; justify-content: space-between">Sixth
            Consultancy<span>Chennai, India</span></strong>
        <strong style="display: flex; justify-content: space-between">Data
            Scientist<span>Jan 2022-Mar 2022</span></strong>
    <ul>
        <li>Developed a Python script to manage real-time stock market data streams, with automated reviews conducted
            every minute
        </li>
        <li>Engineered a dynamic script to capture and store real-time company data from APIs, enhancing efficiency</li>
        <li> Conducted extensive testing and validation across diverse companies listed in BSE and NSE</li>
    </ul>
    </p>
</div>

<div id="publications">
    <h3>Publications</h3>
    <p>
        <strong>Predicting Agricultural Yield by Integrating Remote Sensing</strong> <a
            href="https://doi.org/10.1007/978-981-99-1726-6_6">[link]</a> (Jan 2023-May 2023)
    <ul>
        <li>Developed an ML model for Punjab crop yield prediction by leveraging 17 years of weather, soil, and NDVI
            data, incorporating statistical methods, ML algorithms, and real-world validation. Integrated findings into
            the research publication in ICoISS (June. 2023) to improve the accuracy of yield predictions.
        </li>
    </ul>
    </p>
    <p>
        <strong>Research work: Blockchain-based Food Supply Chain</strong> <a
            href="https://doi.org/10.1016/j.procs.2022.12.034">[link]</a> (Aug 2021-Nov 2021)
    <ul>
        <li>Developed a robust double blockchain framework to enhance transparency, traceability, and trust in the
            agricultural supply chain. Conducted comprehensive research on blockchain technology's application in the
            food supply chain, resulting in a publication in Procedia Computer Science (Jan. 2022)
        </li>
    </ul>
    </p>
</div>

<div id="skills-and-interests">
    <h3>Skills and Interests</h3>
    <p>
    <ul>
        <li><strong>Languages</strong>: Python, R, Java, C++, MATLAB</li>
        <li><strong>Frameworks/Libraries</strong>: TensorFlow, PyTorch, Keras, Scikit-learn, XGBoost, CatBoost, Pandas,
            NumPy, SpaCy, Tesseract,
            Statsmodels, Matplotlib, Seaborn, BeautifulSoup, Selenium, Django, Flask, Docker, HuggingFace, LangChain,
            MLFlow, OpenCV
        </li>
        <li><strong>Databases and Cloud</strong>: SQL, PostgreSQL, NoSQL, JSON, XML, Firebase, AWS[EC2, S3, Sagemaker,
            Lambda, RDS], Azure
        </li>
        <li><strong>Big Data Tools and Technologies</strong>: Spark, Hadoop, Tableau, Power BI, Kafka, Apache Airflow,
            JIRA, Redis, Excel
        </li>
    </ul>
    </p>
</div>

<div id="leadership-and-involvement">
    <h3>Leadership and Involvement</h3>
    <p>
        <strong style="display: flex; justify-content: space-between">GRIDS, USC<span>Los Angeles, CA</span></strong>
        <strong style="display: flex; justify-content: space-between">Tech Team Board
            Member<span>Aug 2023-Present</span></strong>
    <ul>
        <li>Demonstrated strong leadership by organizing and leading hackathons, workshops, and team projects,
            showcasing effective project management skills and fostering a collaborative environment for skill
            development
        </li>
        <li>Provided mentorship to junior club members, facilitating their growth in machine learning, data analysis,
            and programming, while also emphasizing the importance of teamwork and communication
        </li>
    </ul>
    </p>
    <p>
        <strong style="display: flex; justify-content: space-between">Aakash Research
            Labs<span>Chennai, India</span></strong>
        <strong style="display: flex; justify-content: space-between">Head of Machine
            Learning<span>May 2022-Jun 2023</span></strong>
    <ul>
        <li>Evaluated and guided junior team members, directing them on projects and new technologies</li>
        <li>Uplifted the team's skills and knowledge, contributing to individual and collective growth</li>
    </ul>
    <strong style="display: flex; justify-content: space-between">Deputy Secretary
        Member<span>Jun 2021 - May 2022</span></strong>
    <ul>
        <li>Managed and evaluated organizational activities, maintaining an excellent track record</li>
        <li>Organized Tekmux event for class 12 school students in August, showcasing effective leadership</li>
    </ul>
    </p>
    <strong style="display: flex; justify-content: space-between">Machine Learning
        Executive<span>Feb 2021-May 2022</span></strong>
    <ul>
        <li>Developed a Deep Learning model for Digit Recognition, deploying it over Heroku using Flask API</li>
        <li>Created a 3-Layered Neural Network from scratch using NumPy, showcasing strong technical skills</li>
        <li>Collaborated on a Healthcare Project, contributing to impactful research and development</li>
    </ul>
    </p>
</div>

<div id="achievements-and-certifications">
    <h3>Achievements and Certifications</h3>
    <ul>
        <li>Introducing Generative AI with AWS, Udacity</li>
        <li>Top 5 students in DSCI 552 Machine Learning for Data Science Course @USC</li>
        <li>Ranked 3rd in Class Competition for DSCI 553 Foundation of Data Mining Course @USC</li>
        <li>Among Top 5 Teams in a hackathon organized in the field of Computer Vision. Developed a Document Enhancer
            App specifically designed to enhance and extract information from Government IDs
        </li>
        <li>Secured 3rd Position for Final Year Project, which was then published in the journal ICIoSS. This project
            was part of the Dean's Collaborative Project Initiative at SRM Institute of Science and Technology
        </li>
        <li>Machine Learning by Stanford University, Coursera, and Deep Learning Specialization by DeepLearning.AI,
            Coursera
        </li>
    </ul>
</div>


